display {
    float: left;
    position: relative;
    width: 100%;
    height: 20%;
    padding: 5px;

    .display-values {
        width: 100%;
        height: 100%;
        background-color: slategray;
        padding: 5px;
        position: relative;

        .values {
            color: white;
            font-size: 2em;
            text-align: right;
            position: absolute;
            top:0;
            bottom:0;
            right: 10px;
            height: 50%;
            margin: auto;

        }
    }
}

